
.dark {
	color: white;
}
html, body {
	margin: 0;
	padding: 0;
	display: block;
	min-height: 100%;
	box-sizing: border-box;
}
html {
	border: dotted 20px #eee;
	padding: 20px;
}
html.dragging {
	border-color: pink;
	border-style: solid;
	box-shadow: 0 0 20px pink inset;
}
div,
canvas,
code {
	display: inline-block;
}
canvas {
	background: #ddd;
	x-border: solid 20px #999;
	cursor: pointer;
	position: relative;
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0 0 30px #888;
	margin-bottom: 20px;
}
code {
	min-width: 150px;
	font-size: 30px;
	margin-left: 20px;
	font-weight: bold;
}
span {
	margin-right: 2em;
}
input {
	width: 15em;
	background: rgba(0,0,0,0.1);
	border: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	padding: 3px;
}
.dark input {
	background: rgba(255,255,255,0.1);
}
a {
	color: #000;
	background: #bbb;
	box-shadow: 0 0 20px #000;
	font-weight: bold;
	text-decoration: none;
	padding: 6px 10px;
	border-radius: 20px;
	margin-right: 6px;
}
